header {
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 40px;
	color: white;
	height: 20%;
	width: 100%;
	
}

img{
	
	width: 100%;
	
}

body {
	margin-bottom: 80px;
}



b {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.forma {
	margin: 20px;
	text-align: center;
}
.signIn {
	height: 30px;
	margin: 5px 5px;
	border-radius: 5px;
	border-width: 1px;
	border-style: outset;
	border-color: grey;
}
.signIn:hover {
	border-color: black;
}

a.button-link {
	margin-top: 5px;
	padding: 5px 5px;
	border-style: outset;
	border-width: 1px;
	border-color: grey;
	border-radius: 5px;
	background-color: green;
	color: white;
	text-decoration: none;
}
a.button-link:hover{
	border-color: black;
}
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 55px;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
}

.form_check {
	
	height: 100%;
	width: 30%;
	margin-top: 20%;
	text-align: right;
	
}

.names {
	margin: 0px;
}

.valid{
	
	position: absolute;
	text-align: right;
	margin-top: 15px;
	color: green;
	text-align: none;
	display: none;
}

.invalid {
	position: absolute;
	text-align: right;
	margin-top: 15px;
	color: red;
	border: 0;
	text-align: right;
	word-wrap: break-word;
	display: none;
}

#map {
    margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 300px;

}

#imap {
    margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 300px;

}

#SignOut {
    
    background-color: red;
    color: white;
    border-style: outset;
	border-color: grey;
}

#SignOut:hover {
	border-color: black;
}

#req{
    display: none;
}

#cancel{
    background-color: black;
    color: white;
    border-style: outset;
	border-color: grey;
    display: none;
}
#cancel:hover {
	border-color: black;
}

#inspect{
    
    display: none;
}

#close {
    
    background-color: red;
    color: white;
    border-style: outset;
	border-color: grey;
}
#close:hover {
	border-color: black;
}
